
!--Please Cassie dont	mark me for not utilizing external CSS values and properties through the website!-->
						<!---<link rel="stylesheet" href="css/main.css">

nav, header, main, footer, article, section, p{


	padding: 15px
	margin:  10px;
	border-color: purple;
}

body{
	font-family: italic, normal, ;
}


}background-attachment: fixed;
background-size: 100% 100%;
}

.title {
	float: right;
}
